.section {
    padding: 20px 0;
    width: 100%;
    background-color: var(--dark);
    max-width: none; 
    box-shadow: 0 0 5px;

@media screen and (max-width: 1024px) {
    padding: 10px 0;
  }
}

header {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.header_logo {
    font-size: 4rem;
    font-family: var(--font3);
    color: var(--light);
    text-align: center;
    display: block;

@media screen and (max-width: 1024px) {
    font-size: 40px;
    display: block;
  }
}

.main-articles {
  display: flex;
}

.each_article{
  display: flex;
  flex-flow: column;

  .article_category{
      margin: 0;
      padding: 0 0;
      font-family: var(--font);
      font-weight: bold;
      font-size: 12px;
      color: var(--primary);
  }
}

.article{
  box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.22);
  overflow: hidden;
  flex-grow: 1;
  &_title{ 
    margin: 0;
    font-family: var(--font2);
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    color: var(--dark);
  }
  &_meta{
    padding: 10px 1.25rem 1.25rem;
    background: var(--bg);
    color: var(--text);
    position: relative;
    z-index: 2;
    transition: margin-top 0.5s;
  }

  &_excerpt {
    font-family: var(--font2);
    text-align: justify;
  }

  &_thumb{
    display: grid;
    position: relative;
    z-index: 0;
    overflow: hidden;
    // margin: 0 1.25rem;
    height: 15rem;
    background-size: cover;
    background-position: 50% 50%;
    @media screen and (min-width: 35rem) {
      height: 22.5rem;
    }
    img{
      transition: transform 0.5s, opacity 0.5s;
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      z-index: 1;
      background: var(--bg);
      opacity: 0;
      transition: opacity 0.1s ease-out;
    }
  }
  &_showcase &_thumb {
    height: 15rem;
  }
  &_showcase &_meta {
    padding-top: 1.5rem;
  }
  &_hidden {
    display: none;
  }

  &_link {
      color: var(--secondary-darker);
      font-weight: bold;
  }

  .iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
  }

  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }
}

.btn{
  min-width: 150px;
  font-size: 1rem;
  margin: 1rem 0 1.5rem;
  display: inline-block;
  padding: 7.5px 12.5px;
  background-color:var(--theme);
  box-shadow: 0 1rem 4rem rgba(0,0,0,0.5);
  color: var(--light);
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
}
.transparent{
  padding:25px;
}
.point{
  margin-right:15px;
  color: var(--theme);
}
@media screen and (min-width: 769px){
  .mobile{
    display:none;
  }
}

.video{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin: 1.5rem 0;
  border-radius: 1rem;
  background-color: var(--bg);
  box-shadow: 0 1rem 4rem rgba(0,0,0,0.17);
  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    transform: scale(1.03);
  }
}

.copy {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(#{$copy-icon-path});
  background-size: 100%;
  cursor: pointer;
  &::before, &::after {
    content: "";
    position: absolute;
    background:var(--theme);
    color: var(--light);
    opacity: 0;
    transition: opacity 0.25s ease-in;
  }
  &::before {
    content: "#{$copy-icon-b4}";
    font-size: 0.8rem;
    width: 5.4rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    text-align: center;
    top: -2rem;
    right: 0;
  }
  &_done::before {
    content: "#{$copy-icon-aft}";
  }
  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
}

footer {
  width:100%;
  color: var(--light);
  background-color: var(--dark);
  box-shadow: 0px 0px 15px;
}

.footer_main {
  max-width:1440px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.05rem;
  min-height:75px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  a {
    color: var(--gray);
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
      color: var(--light);
    } 
  }
}

.footer_col {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    max-width: 33%;
    padding: 1.25rem;
    overflow-wrap: break-word;

    p {
      color: var(--light);
      line-height: 3rem;
      font-size: 1.5rem;
    }

    img {
      height: 50px;
      width: auto;
    }
}

.footer_col > h6 {
    color: var(--light);
    font-family: var(--font3);
    font-size: 1.5rem;
}



.footer_copy {
    padding: 1.25rem 1.25rem;
    font-size: 1.05rem;
    color: var(--dark);
    background-color: var(--dark);
    width: 100%;

    p {
        color: var(--light);
        max-width:1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

// Responsive
@media (max-width: 800px) {
    .footer_main {
        font-size: 1.5rem;
    }

    .footer_col {
        flex: 50%;
        max-width: 100%;
        text-align: center;
        vertical-align: middle;

        p {
          line-height: 3rem;
        }
    }

    .footer_col > h6 {
        font-weight: bold;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }
}

.color {
  &_mode {
    // width: 3rem;
    height: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 3rem;
    align-items: center;
    margin: 5rem 1.5rem 0;
  }
  &_choice {
    width: 3rem;
    background-color: var(--theme);
    border-radius: 1rem;
    height: 1.5rem;
    outline: none;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); 
    position: relative;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.15);
    &::after {
      content: "";
      position: absolute;
      top: 0.1rem;
      left: 0.1rem;
      width: 1.3rem;
      height: 1.3rem;
      background: radial-gradient(var(--light), var(--gray));
      border-radius: 50%;
      z-index: 2;
      transition: transform 0.5s cubic-bezier(.19,1,.22,1);
      will-change: transform;
    }
    &:checked {
      &::after {
        transform: translateX(1.4rem);
      }
    }
  }
}
