:root {
  --light: #fff;
  --back: #f4f7fc;
  --primary-color: #ff6d69;
  --primary: #ff6d69;
  --second-lighter: #6181b0;
  --secondary-color: #6181b0;
  --secondary-darker: #34486a;
  --gray: #f2f5f7;
  --darkest: #1e1e24ff;
  --dark: #333333;
  --black-light: #3f4451;
  --black-lighter: #888;
  --bubble: #131313;
  --accent: var(--gray);
  --bg: var(--light);
  --text: var(--darkest);
  --font: 'Open Sans', sans-serif;
  --font2: Georgia, serif;
  --font3: 'Cinzel', serif;
  --ease: cubic-bezier(.19,1,.22,1);
}
