nav {
    background-color: var(--dark);
    overflow: hidden;
    position: fixed;
    width: 15rem;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;

    hr {
      background-color: var(--light);
      margin-left: 1rem;
      margin-right: 1rem;
    }
}

nav a {
  display: block;
  text-align: center;
  padding: 14px 14px;
  font-family: var(--font3);
  font-size: 1.5rem;
  color: var(--gray);
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;

  &:hover {
    opacity: 1;
    color: var(--light);
  } 
}

.burger {
  margin: 10px auto;
  display: none;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  } 
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--light);
  margin: 6px 0;
  transition: 0.4s;
}

// Burger button
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

nav #navLinks {
  text-align: center;
  display: block;
  margin: 0.4rem 0.5rem;
}

@media screen and (max-width: 1024px) {
  nav {
    position: relative;
    width: 100%;
    height: auto;
  }

  nav #navLinks {
    text-align: center;
    display: none;
    float: none;
  }

  nav a {
    font-size: 24px;
    display: block;
  }

  nav .burger { 
    position: absolute;
    right: 0;
    top: 0;
  }

  .burger {
    display: block;
  }
}
