{{ define "main" }}
  <div class = 'wrap post'>
    {{- $date := (dateFormat "02 January 2006" .Date) -}}
    <p class = 'post_date pale'>{{ $date }}</p>
    <h1 class = 'post_title'>{{ .Title }}</h1>
    {{ with .Params.author }}
    <h5 class="post_author" >{{ . }}</h5>
    {{ end }}
    <div class = 'post_body'>
      <div class = 'post_inner'>
        {{ with .Params.video }}
        {{ $id := strings.TrimPrefix "https://www.youtube.com/watch?v=" . }}
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/{{ $id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {{ else }}
        {{ with .Params.image }}
        <figure>
          <img src = '{{ absURL (printf "images/%s" .) }}' alt = '{{ . }}' class = 'post_thumbnail'>
          <figcaption><i>{{ $.Params.caption }}</i></figcaption>
        </figure>
        {{ end }}
        {{ end }}
        {{ .Content }}
      </div>
    </div>
    <!-- Turn this into a partial -->
    {{ $related := .Site.RegularPages.Related . | first 3 }}
    {{ with $related }}
    <hr>
    <h3>Artículos relacionados</h3>
    <ul class="post_related">
      {{ range . }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
{{ end }}
