<div class = 'archive wrap'>
  <h1 class="archive_title">{{ .Title }}</h1>
  {{ $paginator := .Paginate (where .Data.Pages "Section" "!=" "").ByPublishDate.Reverse }}
  {{- range $paginator.Pages }}
      {{ with .Params.canonicalURL }}
      <a class = 'archive_item' href = '{{ . }}'>
      {{ else }}
      <a class = 'archive_item' href = '{{ .Permalink }}'>
      {{ end }}
        {{- with .Date -}}
        <time class = 'pale'>{{ dateFormat "02 January 2006" . }}</time>
        {{- end -}}

        <h3 class = 'article_title'>{{ .Title }}</h3>

        <div>
            {{ with .Params.video }}
            {{ $id := strings.TrimPrefix "https://www.youtube.com/watch?v=" . }}
            <div class="iframe-container archive_item_video">
                <iframe src="https://www.youtube.com/embed/{{ $id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {{ else }}
            <img class="archive_item_image" src="{{- absURL (printf "images/%s" .Params.image) -}}">
            {{ end }}

            {{- with .Summary -}}
            <p class="archive_item_text">{{ . }}</p>
            {{- end -}}

            {{ $site := .Params.canonicalSite }}
            {{- with .Params.canonicalSite -}}
            <p class="article_link">
              Seguir leyendo en <i >{{ . }}</i>
            </p>
            {{- end -}}
        </div>
      </a>
  {{- end -}}
</div>
