{{ $truncVal := 280 }}
{{ $index := .Scratch.Get "index" }}
{{ if eq $index 0 }}
    {{ $truncVal = 800 }}
{{ end }}
<div class='each_article'>
    {{ with .Param "categories" }}
        {{ range $_, $category := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" "categories" $category) }}
            <a href="{{ .Permalink }}">
                <h5 class='article_category'>{{ $category | upper }}</h4>
            </a>
            {{ end }}
        {{ end }}
    {{ end }}

    {{ with .Params.canonicalURL }}
    <a href = '{{ . }}'>
    {{ else }}
    <a href = '{{ .Permalink }}'>
    {{ end }}
        <h3 class = 'article_title'>{{ .Title }}</h3>
    </a>
    <article class='article'>
        {{ with .Params.video }}
        {{ $id := strings.TrimPrefix "https://www.youtube.com/watch?v=" . }}
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/{{ $id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {{ else }}
        {{ $image := absURL (printf "images/%s" .Params.image) }}
        <div class = 'article_thumb' style='background-image: url({{ $image }})'></div>
        {{ end }}
        <div class = 'article_meta' {{- if eq $index 1 -}} id="second_article" {{- end }}>
            <div class = 'article_excerpt visible'>
                <p>{{ .Summary | truncate $truncVal }}</p>
            </div>
            {{ with .Params.canonicalURL }}
            <a href="{{ . }}" target="_blank" class="article_link">
                Seguir leyendo en <i>{{ $.Params.canonicalSite }}</i>
            </a>
            {{ end }}
        </div>
    </article>
</div>
