<footer class = "wrap">
    <div class="footer_main">
        <div class="footer_col">
            <h6>Navegación</h6>
            <ul class="list-unstyled">
                {{ range .Site.Data.menu }}
                <p>
                  <a href="{{ absURL .url }}">
                      {{ .item }}
                  </a>
                </p>
                {{ end }}
            </ul>
        </div>
        <div class="footer_col">
            <h6>Contacto</h6>
            <p>info@comisiondeestudios.com</p>

            <a href="https://www.facebook.com/comisiondeestudios/"><img src="{{ absURL "images/fb.png" }}"/></a>
        </div>
    </div>
    <div class="footer_copy">
        <p>
            &copy;&nbsp;
            <span class = 'year'></span>
            &nbsp;{{ .Site.Title }}
        </p>
    </div>
</footer>
</p>

<!-- Some js for some reason -->
{{ $scriptPath := "js/index.js" }}
{{ $scripts := resources.Get $scriptPath | resources.ExecuteAsTemplate $scriptPath . | resources.Minify | resources.Fingerprint "sha512" }}
<script src = '{{ $scripts.Permalink }}'></script>
