<head>
  <title>{{ with .Title }}{{ humanize . }} | {{ end }}{{ .Site.Title }}</title>
  <meta charset='utf-8'>
  {{- with .Site.Params.ga_verify }}
  <meta name="google-site-verification" content="{{ . }}" />
  {{- end }}
  <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
  <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
  <meta name = 'SKYPE_TOOLBAR' content = 'SKYPE_TOOLBAR_PARSER_COMPATIBLE' />
  {{- partial "analytics.html" . }}
  {{- partial "opengraph.html" . }}
  {{- partial "favicon.html" . }}
  <link rel='canonical' href='{{ .Permalink }}'>
  {{- $options := (dict "targetPath" "css/main.css" "outputStyle" "expanded" "enableSourceMap" "true") -}}
  {{- $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | resources.ToCSS $options }}
  <link rel = 'stylesheet' href = '{{ $styles.Permalink }}'>
  {{ $css := resources.Get "css/normalize.css" }}
  {{ $style := $css | resources.Minify }}
  <link rel = 'stylesheet' href = '{{ $css.Permalink }}'>
</head>
