<nav id="topNav">
    <a href='{{ absURL "" }}' class="header_logo">
        <b>CEEII</b>
    </a>
    <a href="javascript:void(0);" class="burger" onclick="showmenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </a>
    <span id="navLinks">
    {{ range .Site.Data.menu }}
    <a href="{{ absURL .url }}">
        {{ .item | upper }}
    </a>
    {{ end }}
    </span>

    <hr>

    <span>
        {{ range .Site.Data.sections }}
        <a href="{{ absURL .url }}">
            {{ .item | upper }}
        </a>
        {{ end }}
    </span>
</nav>
