{{ define "main" }}

{{- $size := .Paginator.PageSize }}
{{ $pages := .Paginate (where .Site.RegularPages "Section" "!=" "").ByPublishDate.Reverse }}
{{ $pinned := where $pages.Pages "Params.pinned" true }}
{{ $withoutPin := where $pages.Pages ".Params.pinned" false }}

<div class='main-articles'>
  <div class='wrap pt-1 mb-2'>
  {{- range $index, $value := $withoutPin }}
    {{/* Use the scratch in order to pass vars to partials due to scope */}}
    {{ .Scratch.Set "index" $index }}

    {{- if lt $size 1 }}
    <p>Empty!</p>
    {{ else if eq $index 0 }}
    <div class='grid-auto article_showcase mb-1'>
        {{ partial "article.html" . }}
    {{ else if eq $index 2 }}
    </div>
    <div class='grid-3 article_showcase'>
    {{ end }}

    {{- if ge $index 1 }}
      {{ partial "article.html" . }}
    {{ end }}

    {{- if eq $index (add $size -1)  }}
    </div>
    {{ end }}
    {{- end -}}
  </div>
</div>

<div class='pt-1 mb-2'>
{{ range $val := $pinned }}
  <div class='article_showcase'>
  {{ partial "article.html" . }}
  </div>
{{ end }}        
</div>

{{ end }}
